.modal-button {
  position: absolute;
  right: 0;
  margin: auto 1rem;
  background-color: #1f1f1f;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.content {
  margin: 4rem auto;
}
