@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

@import url("./modal");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;

  -webkit-tap-highlight-color: transparent;
  button:active {
    border-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
  }
}

.modal {
  width: 100%;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(239, 239, 239, 0.2);
  }
}

html,
body,
#root {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  overflow-y: hidden;
  color: white;

  @media (pointer: none), (pointer: coarse) {
    font-size: 0.65rem;
  }
}

button,
a {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.mobile {
  display: grid;
  text-align: center;
  gap: 1rem;

  color: white;
  p {
    width: 100%;
  }
}

.grid {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;

  .line {
    width: 60%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.295);
  }

  span {
    opacity: 0.6;
  }

  .inner-3 {
    p {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.link {
  font-size: 0.5rem;
}

.absolute {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  a {
    text-decoration: none;
    color: white;
    padding: 0 0.25rem;
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1rem;
}

.html_p {
  text-align: center;
  .center {
    width: 300px;
  }

  color: rgba(255, 255, 255, 0.245);
  a {
    color: white;
    text-decoration: underline;
    padding-left: 0.25rem;
  }
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  display: grid;
  h1 {
    margin-bottom: 2rem;
  }
}

body {
  background: black;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0.25rem;
  border: 1px solid black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #dfdfdf, rgba(186, 183, 183, 0.853));
  border-radius: 0.25rem;
  width: 10%;
}
